@font-face {
    font-family: 'EkkamaiStandard-Light';
    src: url('css/fonts/EkkamaiStandard-Light.ttf') format('truetype');
}

body {
    font-family: EkkamaiStandard-Light;
}

.test1 {
    display: flex;
    justify-content: center;
    margin: 15px auto;
    align-items: center;
    /* margin-bottom: 30px; */
    /* background: rgb(160, 109, 109); */
}

.header1
{
    font-size: 250%;
    font-family: EkkamaiStandard-Light;
    justify-content: center;
    text-align: center;
    margin: 10px 0px 40px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* grid-template-columns: 400px 400px 400px; */
    /* grid-template-rows: auto; */
    grid-gap: 50px;
    justify-content: center;
    text-align: center;
    /* margin: 0px 10px; */
}

.container1 {
    display: grid;
    grid-template-columns: 150px auto auto;
    grid-template-rows: 170px auto;
    margin: 0px 15px ;
    /* grid-gap: 1px; */
}

.article {
    position: relative;
    margin: 10px 0px ;
}

.imgC {
    border-radius: 50%;
    margin: 15px;
}

.test2
{
    text-align: left;
}

p {
    display: inline;
    font-family: EkkamaiStandard-Light;
    font-size: 12px
}
.item1 {
    grid-column: 1 / span 3;
  }

  .item2
  {
    display: grid;
    grid-template-columns: 150px auto ;
  }

